<html>
    <head>
        <!-- Data about the data, meta data -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
    </head>
    <body>
        <!-- Page content -->

        <h1>Hello {{ user }}</h1>
        <h6>Small Titles</h6>
        <p>Paragraphs</p>
        <img id="image" src="https://ichef.bbci.co.uk/news/976/cpsprodpb/A22B/production/_128051514_elon_musk_getty.jpg.webp">
        <input type="text">
        <button id="my_button">Click Me!</button>

    </body>
</html>
